/* breack point 1629px */
@media (max-width: 1629px) {
    .full-width p {
        padding: 1rem 10rem 5rem 10rem;
    }

    .used-doc {
        padding: 5rem 1rem 0rem 1rem;
        margin: 5rem 5rem 1rem 5rem;
    }
}