/* breack point 1629px */
@media (max-width: 1629px) {
    .full-width p {
        padding: 1rem 10rem 5rem 10rem;
    }

    .used-doc {
        padding: 5rem 1rem 0rem 1rem;
        margin: 5rem 5rem 1rem 5rem;
    }
}  

/* breack point 1235px */
@media (max-width: 1235px) {
    .full-width p {
        padding: 1rem 4rem 5rem 4rem;
    }

    .usage-examples h2,
    .tips-and-tricks h2,
    .calculator-history h2 {
        font-size: 2rem;
    }

    .usage-examples li,
    .tips-and-tricks li,
    .calculator-history li {
        font-size: 1.6rem;
    }
} 

/* breack point 750px */
@media (max-width: 750px) {
    .full-width h2 {
        font-size: 2.3rem;
        padding-bottom: 3rem;
    }

    .full-width p {
        padding: 0rem 1rem 0rem 1rem;
        font-size: 1.6rem;
    }

    .examples-tricks {
        padding: 0 0.5rem 2rem 0.5rem;
    }

    .usage-examples h2,
    .tips-and-tricks h2,
    .calculator-history h2 {
        font-size: 1.8rem;
    }

    .usage-examples li,
    .tips-and-tricks li,
    .calculator-history li {
        font-size: 1.4rem;
    }

    .calculator {
        gap: 3rem;
    }

    .used-doc {
        padding: 3rem 0rem 0rem 0rem;
        margin: 0.5rem 3rem 1rem 3rem;
    }

    .used-doc h2 {
        font-size: 2.2rem;
        padding: 1rem;
    }
    .used-doc p {
        padding: 1rem;
        font-size: 1.6rem;
    }
} 

/* breack point 500px */
@media (max-width: 500px) {
    .full-width h2 {
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    .full-width p {
        font-size: 1.5rem;
        padding: 0rem 0.5rem 0rem 0.5rem;
    }

    .usage-examples,
    .tips-and-tricks {
        padding: 1rem;
        margin: 1.5rem 0.5rem;
    }

    .calculator {
        gap: 1rem;
    }

    
}