/* breack point maxwidth 1629px */
@media (max-width: 1629px) {
    .form-container {
        max-width: 55%;
        padding: 4rem 0rem 0rem 0rem;
    }

    .form-text-end {
        padding: 4rem 0rem 0rem 0rem;
        margin: 5rem 5rem 5rem 5rem;
    }

    .form-text-end p {
        padding: 2rem 1rem 5rem 1rem;
        line-height: 1.7rem;
    }
}

/* breack point maxwidth 1420px */
@media (max-width: 1420px) {
    .form-container {
        max-width: 65%;
        padding: 4rem 0rem 0rem 0rem;
    }
} 

