/* breack point maxwidth 1629px */
@media (max-width: 1629px) {
    .form-container {
        max-width: 55%;
        padding: 4rem 0rem 0rem 0rem;
    }
}

/* breack point maxwidth 1420px */
/* @media (max-width: 1420px) {
    .form-container {
        max-width: 65%;
        padding: 4rem 0rem 0rem 0rem;
    }
} */

