
/* breack point 1518px */
@media (max-width: 1518px) {
    #navbar {
        display: flex;
        justify-content: center;
    }

    .logo {
        margin-left: 0rem;
    }
}


/* breack point 1300px */
@media (max-width: 1300px) {
    .slider-container .slide-item {
        max-width: 50%;
        height: 30vw;
    }
}


/* breack point 1020px */
@media (max-width: 1020px) {
    #navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 12rem;
    }

    .nav-list {
        width: 90%;
    }

    .nav-list li {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    #navbar .nav-list li{
        font-size: 1.3rem;
    }

    .logo {
        font-size: 2.3rem;
        margin: -1rem;
    }


    .homePage-cont .initial-text {
        font-size: 2.5rem; 
        padding: 10rem 0 2rem 0;
    }

    .slider-container .slide-item {
        max-width: 65%;
        height: 40vw;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }

    .slider-container .slide-txt {
        font-size: 1.8rem;
    }

    .homePage-cont .txt-end p {
        padding: 10rem;
    }
}


/* breack point 750px */
@media (max-width: 750px) {
    .nav-content {
        justify-content: center;
    }

    #navbar .nav-list li {
        display: none;
    }

    .navmenu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navmenu-icon svg {
        display: flex;
    }


    .logo {
        font-size: 2.1rem;
    }

    .homePage-cont .initial-text {
        font-size: 2rem; 
        padding: 10rem 0 1rem 0;
    }

    .slider-container .slide-item {
        max-width: 80%;
        height: 50vw;
    }

    .slider-container .slide-txt {
        font-size: 1.7rem;
    }

    .homePage-cont .txt-end p {
        padding: 7rem;
    }
}


/* breack point 645px */
@media (max-width: 645px) {
    .homePage-cont .initial-text {
        font-size: 2.5rem; 
        padding: 9rem 1.5rem 2rem 1.5rem;
    }

    .slider-container .slide-item {
        max-width: 88%;
        height: 55vw;
    }

    .slider-container .slide-txt {
        font-size: 1.5rem;
    }

    .homePage-cont .txt-end p {
        padding: 5rem 3rem 5rem 3rem;
        font-size: 1.6rem;
    }
}  


/* breack point 500px */
@media (max-width: 500px) {
    #navbar {
        max-height: 10rem;
    }

    .logo {
        font-size: 1.8rem;
    }

    .logo p {
        font-size: 1.1rem;
    }

    .logo svg {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 0rem;
    }

    .homePage-cont .initial-text {
        font-size: 2rem; 
        padding: 7rem 1em 1rem 1rem;
    } 

    .slider-container .slide-txt {
        font-size: 1.3rem;
        padding-bottom: 4rem;
    }

    .homePage-cont .txt-end p {
        padding: 4rem 2rem 5rem 2rem;
        font-size: 1.5rem;
    }

    .footer-container .footer-icons ul li svg {
        width: 2.5rem;
        height: 2.5rem; 
    } 

    .developed p {
        font-size: 1.3rem;
    }
}  
 