/* breack point 1629px */
@media (max-width: 1629px) {
    .top-section {
        gap: 10rem;
    }
    .text-section p {
        padding: 0rem 8rem 8rem 8rem;
        font-size: 1.8rem;
    }

    .calendar {
        margin: 20rem 20rem 1rem 0rem;
    }
}

/* breack point 1400px */
@media (max-width: 1400px) {
    .todo-container .todo-custon-grid {
        min-width: 45%; 
    }

    .top-section {
        gap: 8rem;
    }
    .text-section p {
        padding: 0rem 7rem 8rem 7rem;
    }

    .calendar {
        margin: 17rem 10rem 1rem 0rem;
    }
}


/* breack point 1150px */
@media (max-width: 1150px) {
    .todo-container .todo-custon-grid {
        min-width: 50%; 
    }

    .top-section {
        gap: 4rem;
    }
    .text-section p {
        padding: 0rem 3rem 8rem 3rem;
    }

    .calendar {
        margin: 15rem 6rem 1rem 0rem;
    }
}  

/* breack point 1000px */
@media (max-width: 1000px) {
    .todo-container .todo-custon-grid {
        min-width: 55%; 
    }

    .top-section {
        gap: 2rem;
        display: block;
    }
    .text-section p {
        padding: 0rem 3rem 5rem 3rem;
    }

    .calendar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0rem 0rem 0rem 0rem;
        padding: 0rem 0rem 5rem 0rem;
    }
}  
 
/* breack point 899px */
@media (max-width: 899px) {
    .todo-container .todo-custon-grid {
        margin: 0rem 15rem 0rem 15rem;
    }

    .text-section p {
        padding: 0rem 2rem 5rem 2rem;
    }

    .calendar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0rem 0rem 0rem 0rem;
        padding: 0rem 0rem 5rem 0rem;
    }
}  

/* breack point 899px */
@media (max-width: 899px) {
    .todo-container .todo-custon-grid {
        margin: 0rem 8rem 0rem 8rem;
    }    
}

/* breack point 550px */
@media (max-width: 550px) {
    .todo-container .todo-custon-grid {
        margin: 0rem 5rem 0rem 5rem;
    }
    .text-section h2 {
        font-size: 2.4rem;
    }

    .text-section p {
        padding: 0rem 0rem 5rem 1rem;
        font-size: 1.6rem;
    }

    .todo-title-end p {
            font-size: 1.6rem;
    }
}  
