@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

.homePage-cont {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.initial-text {
    color: rgb(245, 245, 247);
    font-family: "Fira Code", monospace;
    font-weight: 100;
    letter-spacing: 0.5rem;
    font-size: 3rem;
    padding: 10rem 0 3rem 0;
    align-items: center;
}

.txt-end p {
    color: rgb(245, 245, 247);
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Fira Code", monospace;
    font-weight: 600;
    font-size: 1.8rem;
    padding: 8rem 25rem 10rem 25rem;
}

