.todo-wrappe {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15rem;
    width: 100%;
    background-image: url("../todo-img/to-do-bg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    z-index: -1;
    opacity: 0.9;
}

.text-section {
    flex: 3;
}

.title-todo {
    padding-top: 15rem;
    font-family: Arial, sans-serif;
    font-size: 2.6rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 1rem;
}

.textStyled {
    padding: 6rem 0rem 0rem 0rem;
    font-size: 1.8rem;
    color: #FFF;
    line-height: 2.8rem;
    text-align: justify;
    justify-content: center;
}

.todo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    border-top: 1px solid blue;
    background-color: rgba(0, 0, 0, 0.75);
}

.todo-digit {
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.todo-digit p {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 0.6rem;
}

.todoItem {
    margin: 1rem 0 2rem 0;
}

.sizee {
    font-size: 2.8rem;
}

.listLi {
    width: 100%;
}  
