.todo-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    background-image: url("./../todo-img/to-do-bg.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.9;
    color: #FFF;
    font-family: Arial, sans-serif;
}

.text-section h2 {
    padding: 15rem 0rem 5rem 0rem;
    font-size: 2.6rem;
    text-align: center;
}

.text-section p {
    padding: 0rem 12rem 5rem 12rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;
    justify-content: center;
}

.calendar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 20rem 25rem 1rem 0rem;
}

.todo-container {
    width: 100%; 
    display: flex;
    justify-content: center;
    border-top: 1px solid blue;
    background-color: rgba(0, 0, 0, 0.75);
}

.todo-title-end {
    width: 100%;
    text-align: center;
    margin: 6rem 0rem;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 1rem;
    color: white;
}

.todo-container .todo-custon-grid {
    width: 100%; 
    min-width: 35%; 
    margin: auto; 
}

.todoItem {
    margin: 1rem 0 2rem 0;
}

.sizee {
    font-size: 2.8rem;
}

.todo-container .listLi {
    padding: 4rem 0rem;
}  
