#movies-navbar {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #06050a7c;
}

#movies-navbar h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem 0 4px 0;
}

#movies-navbar h2 svg {
    color: blue;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#movies-navbar h2 a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}  


#movies-navbar form {
    display: flex;
    gap: 0.5rem;
} 

#movies-navbar input {
    padding: 0.8rem 2rem;
    border-radius: 4px;
    border: none;
}  

#movies-navbar form button {
    background-color: blue;
    border: 2px solid blue;
    border-radius: 4px;
    color: #000;
    padding: 0.5rem;
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    width: 4rem;
    height: 4rem;
}

#movies-navbar form button:hover {
    background-color: transparent;
    color: blue;
}

