.moviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 8rem;
} 

.title {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    padding: 6rem 0 4rem 0;
    color: #FFF;
}  

.query-text {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 2.5rem;
}  

