.moviesCard {
    flex: 1 1 calc(15% - 16px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0.8rem;
    min-width: 15rem;
    max-width: 20rem;
    margin-bottom: 3rem;
    border: 0.1rem solid blue;
    overflow: hidden;
    background-color: #111;
    padding: 0.5rem 0.5rem;
    justify-content: space-around;
}

