.movies-app {
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: #00000083;
}

.double-text { 
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 0rem 0rem 0rem;
    text-align: center;
    justify-content: center;
    text-align: center;
    background-image: url(../movies-img/movie-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;
}


.form-text-end {
    width: 100%;
    font-size: 2.6rem;
    font-weight: bold;
    padding: 2rem 1rem 0rem 1rem;
    margin: 10rem 4rem 5rem 4rem;
    text-align: center;
    color: blue;
    background: #000000a1;
    border: 5px solid transparent;

    border-image: linear-gradient(to right, rgba(0, 119, 255, 0.699), #4a90e2);
    border-image-slice: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 255, 0.5),
        0 10px 20px rgba(0, 0, 255, 0.5),
        0 30px 60px rgba(0, 0, 255, 0.5);
    transition: transform 0.3s ease;
}

.form-text-end:hover {
    transform: translateY(-10px);
}


.form-text-end h2 {
    font-family: "Lato", sans-serif;
    font-size: 2.6rem;
    font-weight: bold;
    color: rgb(0, 60, 255);
    padding-bottom: 4rem;
}

.form-text-end p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    line-height: 1.6;
    font-size: 1.7rem;
    padding: 1rem 1rem 5rem 1rem;
    color: #FFF;
}  

.form-text-end a {
    color: blue;
}

.movies-txts {
    flex: 1;
}

.movies-txts2 {
    flex: 1;
}

.movies-app, .movies-txts p { 
    font-family: "Lato", sans-serif;
    line-height: 2;
}


.nave-two {
    background: linear-gradient(to top, #000000, rgba(28, 37, 49, 0.89), #000054);
} 
