
.form-control { 
    display: flex; 
    flex-direction: column; 
    gap: 4rem; 
    margin: 1rem 0rem 1rem 0rem; 
} 

label {
    width: 70%;
    font-weight: bold;
    color: #FFF;
    font-size: 1.5rem;
    padding: 7rem 0rem 0rem 0rem;
}

input {
    margin: 0.6rem 0rem 0.6rem 0rem; 
}

input, textarea { 
    padding: 1.3rem;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(1, 1, 31, 0.253) 2px 2px 4px 4px;
} 

textarea {
    height: 12rem;
}
    