.steps { 
    display: flex;  
    gap: 5rem; 
    justify-content: center; 
    align-items: center; 
    font-size: 1.8rem; 
    max-width: 100%; 
    margin: 0 auto; 
    position: relative; 
    overflow: hidden; 
    margin-top: 3rem; 
}  
 
.steps::after { 
    content: "";
    width: 70%;
    border-bottom: 1px solid #FFF;
    position: absolute;
    top: 3.7rem;
} 
 
.step {  
    text-align: center;
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    z-index: 1;
    width: 12rem;
    padding: 0.5rem;
} 

.step svg {
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
}  

.active {
    color: blue;
    font-weight: bold;
}  

.active p {
    color: blue; 
    font-weight: bold;  
}   

  