
.thanks-container {
    text-align: center;  
} 

.thanks-container h1 {
    padding: 2rem 0;
    font-size: 2.2rem;
    color: blue;
} 

.thanks-container p { 
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.thanks-container h3{
    margin-bottom: 1rem 0;
    font-size: 1.8rem;
    color: #FFF;
}  

.review-data {
    text-align: left; 
} 

.review-data span {
    font-size: 2rem;
    color: blue;
    font-weight: bold; 
}

.review-data svg{
    margin-left: 0.5rem; 
    font-size: 3rem;
}

