.form-app {
    color: #FFF;
    max-height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(37, 37, 37, 0.5);
    padding: 12rem 0 8rem 0;
}  

h2 {  
    color: blue; 
    font-size: 2.8rem; 
    margin-bottom: 2rem; 
}

.form-header {  
    text-align: center; 
    margin-bottom: 4rem; 
}  
 
.form-header p { 
    padding: 4rem; 
    font-size: 1.6rem; 
}  
 
.form-container {
    max-width: 40%;
    margin: 0 auto;
    padding: 0.5rem;
    background-color: gray;
    box-shadow: rgb(0, 0, 255) 0px 5px 59px 9px;
}

.form-container p { 
    padding: 1rem;
    font-size: 1.7rem;  
    color: #FFF;  
}  
 
.form-container form {  
    max-width: 90%;
    margin: 4rem 6rem 6rem 6rem;

}

.form-inputs { 
    max-height: 100vw; 
    min-height: 28rem; 
    color: rgb(162, 162, 200); 
}  
 
  