
.thanks-container {
    text-align: center;  
} 

.thanks-container h1 {
    padding: 2rem 0;
    font-size: 2rem;
    color: blue;
} 

.thanks-container p { 
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.review-data h3{
    font-size: 1.6rem;
    color: #FFF;
}  

.review-data p {
    text-align: left; 
    max-height: 10rem;
    overflow: hidden;
    overflow-y: auto;
} 

.review-data span {
    font-size: 2rem;
    color: blue;
    font-weight: bold; 
    text-align: left;
}

.review-data .emoji-data svg{
    font-size: 3rem;
    margin-left: 1rem;
    color: #FFF;
}

