.form-app {
    color: #FFF;
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
    background-color: rgba(37, 37, 37, 0.5);
    padding: 12rem 0 8rem 0;
}

h2 {
    color: blue;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.form-header {
    text-align: center;
    margin-bottom: 4rem;
}

.form-header p {
    padding: 4rem;
    font-size: 1.6rem;
}

.form-container {
    max-width: 40%;
    margin: 0 auto;
    padding: 0.5rem;
    background-color: rgb(40, 40, 40);
    box-shadow: rgb(0, 0, 255) 0px 5px 59px 9px;
}

.form-container p {
    padding: 1rem;
    font-size: 1.7rem;
    color: #FFF;
}

.form-container form {
    max-width: 90%;
    margin: 4rem 6rem 6rem 6rem;

}

.form-inputs {
    max-height: 100vw;
    min-height: 28rem;
    color: rgb(162, 162, 200);
}


            /*         */

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 6rem; 
}  

.actions button {
    font-size: 1.8rem;
    padding: 0.8rem 1rem;
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    align-items: center;
    transition: 0.8s;
    background-color: #dfdfdf;
    color: rgb(40, 40, 40);
    margin-top: 1rem;
}  
  
.actions button:hover {
    background-color: rgb(40, 40, 40);
    color: blue;
}
     

.text-tecnic {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-tecnic p {
    text-align: justify;
    max-width: 100%;
    margin-left: 15rem;
}