.form-app {
    color: #FFF;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
    background-color: rgba(37, 37, 37, 0.5); 
}

.form-header {
    text-align: center;
    margin-bottom: 4rem;
}

.form-header h2 {
    color: blue;
    font-size: 3rem;
    padding-top: 15rem;
}

.form-header p {
    padding: 4rem 0;
    font-size: 1.8rem;
}

.form-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 50%;
    height: 100%;
    min-height: 65rem;
    margin: 0 auto;
    padding: 1rem 0rem 1rem 0rem;
    background-color: rgb(40, 40, 40);
    box-shadow: rgb(0, 0, 255) 0px 5px 59px 9px;
}

.form-container p {
    padding: 1rem;
    font-size: 1.7rem;
    color: #FFF;
}

.form-container form {
    margin: 0 13rem;
}

.form-inputs {
    max-height: 100vw;
    min-height: 28rem;
    color: rgb(162, 162, 200);
}
            /*         */

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 6rem; 
}  

.actions button {
    font-size: 1.8rem;
    padding: 0.8rem 1rem;
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    align-items: center;
    transition: 0.8s;
    background-color: #dfdfdf;
    color: rgb(40, 40, 40);
    margin-top: 1rem;
}  
  
.actions button:hover {
    background-color: rgb(40, 40, 40);
    color: blue;
}
     
.text-tecnic {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #000000, rgba(128, 128, 128, 0.826), #000066);
}

.form-text-end {
    width: 100%;
    font-size: 2.6rem;
    font-weight: bold;
    padding: 5rem 5rem 0rem 5rem;
    margin: 5rem 10rem 5rem 10rem;
    text-align: center;
    color: blue;
    background: #000000a1;
    border: 5px solid transparent;

    border-image: linear-gradient(to right, rgba(0, 119, 255, 0.699), #4a90e2);
    border-image-slice: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 255, 0.5),
        0 10px 20px rgba(0, 0, 255, 0.5),
        0 30px 60px rgba(0, 0, 255, 0.5);
    transition: transform 0.3s ease;
}

.form-text-end:hover {
    transform: translateY(-10px);
}


.form-text-end h2 {
    font-size: 2.6rem;
    color: rgb(0, 60, 255);
}

.form-text-end p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 1.7rem;
    padding: 2rem 3rem 5rem 3rem;
    color: #FFF;
}  

.form-text-end a {
    color: blue;
}
