.steps { 
    display: flex;  
    gap: 5rem; 
    justify-content: center; 
    align-items: center; 
    font-size: 1.8rem; 
    max-width: 100%; 
    margin: 0 auto; 
    position: relative; 
    overflow: hidden; 
    margin-top: 3rem; 
}  

.active {
    background-color: red;
}