.mob-nave > svg {
    position: absolute;
    top: 2rem;
    right: 3rem;
    color: blue;
}

.mob-nave > svg:hover {
    color: #FFF;
}
 
#mob-nav li{
    list-style: none;
}

#mob-nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}

#mob-nav ul li a{
    list-style: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 0.8rem;
}

#mob-nav ul li a:hover{
    border-bottom: 4px solid blue;
    margin-bottom: 0rem;
} 
