.cont-ainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    line-height: 2.8rem;
}

.full-width {
    padding: 15rem 0rem 3rem 0rem;
    width: 100%;
    overflow: hidden;
}

.full-width h2 {
    padding-bottom: 4rem;
    max-width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    color: #fcfbf9a6;
}

.full-width p {
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 1.8rem;
    padding: 1rem 25rem 5rem 25rem;
    color: white;
}

.flex-cont-ainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #000000, rgba(128, 128, 128, 0.826), #000066);
    padding-bottom: 4rem;
}

.calculator {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 3rem 5rem 3rem;
}

.calculator .wrapper {
    background-color: black;
    border-radius: 1em;
    padding: 0.8em;
}

.calculator .wrapper h3 {
    color: blue;
    padding: 1rem;
}

.calculator .btn-all {
    width: 3em;
    height: 3em;
    cursor: pointer;
    font-size: 2.6em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

.calculator .wide {
    width: 6.5em;
}

.calculator .orange {
    background-color: blue;
    color: white;
}

.calculator .gray {
    background-color: #505050;
    color: white;
}

.calculator .resOperation {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5em;
    font-size: 5.5em;
    letter-spacing: 1.2px;
    margin-top: 0.2em;
    overflow: hidden;
    line-height: 6rem;
}



/**/

.examples-tricks {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 5rem 5rem 5rem;
}

.history-calc {
    margin: -25rem 25rem 0 15rem;
}


.usage-examples,
.tips-and-tricks,
.calculator-history {
    background-color: #1f1e1ff8;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 8px;
    color: #FFF;
    box-shadow: 0 4px 6px rgba(0, 0, 255, 0.3),
        0 10px 20px rgba(0, 0, 255, 0.2),
        0 30px 60px rgba(0, 0, 255, 0.1);
    /* Sombra 3D */
}

.usage-examples h2,
.tips-and-tricks h2,
.calculator-history h2 {
    font-family: "Lato", sans-serif;
    font-size: 2.6rem;
    font-weight: bold;
    color: rgb(0, 60, 255);
    padding-bottom: 1rem;
}

.usage-examples ul,
.tips-and-tricks ul,
.calculator-history ul {
    list-style-type: none;
    padding: 0;
}

.usage-examples li,
.tips-and-tricks li,
.calculator-history li {
    font-size: 1.8rem;
    margin: 0.5rem 0;
}

.usage-examples li::before,
.tips-and-tricks li::before,
.calculator-history li::before {
    content: '➤';
    color: rgb(0, 60, 255);
    margin-right: 0.5rem;
}


/*  */


.highlighted-text {
    width: 100%;
    font-size: 2.6rem;
    font-weight: bold;
    padding: 5rem 2rem 2rem 0rem;
    margin: 10rem 10rem;
    text-align: center;
    color: blue;
    background: #000000a1;
    border: 5px solid transparent;
    /* Borda transparente */
    border-image: linear-gradient(to right, rgba(0, 119, 255, 0.699), #4a90e2);
    /* Gradiente para a borda */
    border-image-slice: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 255, 0.5),
        0 10px 20px rgba(0, 0, 255, 0.5),
        0 30px 60px rgba(0, 0, 255, 0.5);
    transition: transform 0.3s ease;
}

.highlighted-text:hover {
    transform: translateY(-10px);
    /* edge movement effect */
}

.half-width h2 {
    content: '➤';
    font-family: "Lato", sans-serif;
    font-size: 2.6rem;
    font-weight: bold;
    color: rgb(0, 60, 255);
    padding-bottom: 4rem;
}

.half-width p {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 1.7rem;
    padding: 2rem 3rem 10rem 3rem;
    color: #FFF;
}

.half-width a {
    color: blue;
}

      /* */

