.cont-ainer {
    display: flex; 
    flex-direction: column; 
    width: 100%;  
    box-sizing: border-box; 
    overflow: hidden; 
    font-family: "Lato", sans-serif; 
    line-height: 2.8rem; 
}  

.full-width {
    padding: 15rem 0rem 3rem 0rem;
    width: 100%;
    overflow: hidden;
}

.full-width h2 {
    padding-bottom: 4rem;
    max-width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    color: #fcfbf9a6;
}

.full-width p {
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 1.8rem;
    padding: 1rem 25rem 5rem 25rem;
    color: white;
} 

.flex-cont-ainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #000000, rgba(128, 128, 128, 0.826), #000066);
    padding-bottom: 4rem;
}

.calculator {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 3rem 5rem 3rem;
}

.calculator .wrapper {
    background-color: black;
    border-radius: 1em;
    padding: 0.8em;
}

.calculator .wrapper h3 {
    color: blue;
    padding: 1rem;
}

.calculator .btn-all {
    width: 3em;
    height: 3em;
    cursor: pointer;
    font-size: 2.6em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

.calculator .wide {
    width: 6.5em;
}

.calculator .orange {
    background-color: blue;
    color: white;
}

.calculator .gray {
    background-color: #505050;
    color: white;
}

.calculator .resOperation {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5em;
    font-size: 5.5em;
    letter-spacing: 1.2px;
    margin-top: 0.2em;
    overflow: hidden;
    line-height: 6rem;
}


