.cont-ainer {
    display: flex; 
    flex-direction: column; 
    width: 100%;  
    box-sizing: border-box; 
    overflow: hidden; 
    font-family: "Lato", sans-serif; 
    line-height: 2.8rem; 
}  

.full-width {
    padding: 15rem 0rem 3rem 0rem;
    width: 100%;
    overflow: hidden;
}

.full-width h2 {
    padding-bottom: 4rem;
    max-width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    color: #fcfbf9a6;
}

.full-width p {
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 1.8rem;
    padding: 1rem 25rem 5rem 25rem;
    color: white;
} 

.flex-cont-ainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #000000, rgba(128, 128, 128, 0.826), #000066);
    padding-bottom: 4rem;
}

.calculator {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 3rem 5rem 3rem;
}

